<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "TestVagrant Playlist" data-provider-thread-count="24">
    <test name = "Test Execution">
        <classes>
            <class name = "Runner.TestRunCucumberIT"/>
        </classes>
    </test>
</suite>